<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./views/india.svg">
    <link rel="stylesheet" type="text/css" href="./views/clientDashboard/dashboard.css">
    <script type="text/javascript" src='./views/clientDashboard/dashboard.js' async></script>
    <title>Dashboard | <%= locals.user %></title>
</head>
<body>
    <div class="container">
        <h1>Welcome, <%= locals.user %> </h1>
        <h2>File Upload</h2>
        <form id='form'  enctype="multipart/form-data">
            <div class="input-group">
                <label for='files'>Select files</label>
                <input name='files' id='files' type="file" multiple>
            </div>
            <button class="submit-btn" type='submit'>Upload</button>
        </form>
        <button class="submit-btn logout" id="logout">Log Out!</button>
    </div>

    <hr>

    <div class="filesDivOuter" id="filesDivOuter" data-userid=<%= locals.id %> data-username=<%= locals.user %> >


    </div>
    <div class="overlay" id="overlay"></div>
</body>
</html>