<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./views/india.svg">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class=" flex w-full h-[100vh] justify-center space-x-10 items-center bg-blue-100 bg-gradient-to-br from-orange-300 via-white to-green-300 transition-all duration-200">
            <button class="register btn p-4 hover:text-white border-4 rounded-md bg-blue-500 border-blue-600 hover:font-extrabold hover:bg-blue-300 hover:scale-110 font-bold transition-all duration-200" id="register">REGISTER</button>
            <button class="login btn py-4 px-6 hover:text-white border-4 rounded-md bg-blue-500 border-blue-600 hover:font-extrabold hover:bg-blue-300 hover:scale-110 font-bold transition-all duration-200" id="login">LOGIN</button>
        
    </div>

    <script>
        const register = document.getElementById('register');
        register.addEventListener('click', (e)=>{
            e.preventDefault();
            location.href = '/register'
        })
        const login = document.getElementById('login');
        login.addEventListener('click', (e)=>{
            e.preventDefault();
            location.href = '/login'
        })
    </script>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./views/india.svg">
    <link rel="stylesheet" type="text/css" href="./views/final.css">
    <title>Home</title>
</head>
<body>
    <div class=" flex w-full h-[100vh] justify-center space-x-10 items-center bg-blue-100 bg-gradient-to-br from-orange-300 via-white to-green-300 transition-all duration-200">
            <button class="register btn p-4 hover:text-white border-4 rounded-md bg-blue-500 border-blue-600 hover:font-extrabold hover:bg-blue-300 hover:scale-110 font-bold transition-all duration-200" id="register">REGISTER</button>
            <button class="login btn py-4 px-6 hover:text-white border-4 rounded-md bg-blue-500 border-blue-600 hover:font-extrabold hover:bg-blue-300 hover:scale-110 font-bold transition-all duration-200" id="login">LOGIN</button>
    </div>

    <script>
        const register = document.getElementById('register');
        register.addEventListener('click', (e)=>{
            e.preventDefault();
            location.href = '/register'
        })
        const login = document.getElementById('login');
        login.addEventListener('click', (e)=>{
            e.preventDefault();
            location.href = '/login'
        })
    </script>
</body>
</html>